@font-face {
	font-family: "Segoe_UI";
	src: url("../fonts/Segoe_UI.ttf") format("truetype");
}

* {
	font-family: 'Segoe_UI';
	font-size: 14px;
	font-weight: bold;
}

body,
html {
	padding: 0px;
	margin: 0px;
	color: #000000;
}

ul,
li {
	margin: 0px;
	padding: 0px;
}

.bg-light {
	background-color: #f5f6fa !important;
}

.text-light {
	color: #b3b9c7 !important;
}

@media only screen and (max-width:500px) {
	* {
		font-size: 12px;
		font-weight: bold;
	}
}